@use "../abstracts/mixins" as mix;
@use "../abstracts/variables" as var;

.intro {
  background: linear-gradient(rgba(77, 77, 77, 0.7), rgba(77, 77, 77, 0.7)), url("../images/hero.jpg") no-repeat center center/cover;
  min-height: 100vh;
  .navbar {
    @extend %wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: calc(var.$gutter-base/2);
    padding-bottom: calc(var.$gutter-base/2);
    @include mix.mobile-l-styles {
      flex-direction: column;
    }
    @include mix.mobile-m-styles {
      padding-left: calc(var.$gutter-base/2);
      padding-right: calc(var.$gutter-base/2);
    }
  }
  .logo {
    color: var.$text-color-primary;
    font-size: var.$font-size-l;
    font-weight: var.$font-weight-bold;
    @include mix.mobile-l-styles {
      margin-bottom: calc(var.$gutter-base/2);
    }
  }
  .menu {
    @include mix.mobile-l-styles {
      width: 100%;
    }
    .list-items {
      display: flex;
      align-items: center;
      @include mix.mobile-l-styles {
        justify-content: space-between;
      }
      & > *:not(:last-child) {
        margin-right: var.$gutter-base;
        @include mix.mobile-l-styles {
          margin-right: 0;
        }
      }
      a {
        font-size: calc(var.$font-size-l/1.75);
        transition: padding-bottom 0.2s linear;
        &:hover {
          padding-bottom: calc(var.$gutter-base/2);
          color: var.$btn-background-color-primary;
        }
        @include mix.mobile-l-styles {
          &:hover {
            padding-bottom: 0;
          }
        }
      }
    }
  }

  .main-header {
    @extend %wrap;
    text-align: center;
    height: calc(100vh - 73px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include mix.mobile-l-styles {
      height: calc(100vh - 113px);
    }

    span {
      font-size: var.$font-size-ml;
      color: var.$text-color-primary;
      margin-bottom: var.$gutter-base;
    }
  }
}
