@keyframes btn-focus {
  0% {
    left: -100%;
  }
  20% {
    left: 100%;
  }
  100% {
    left: 100%;
  }
}
@keyframes pulsing {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1.3);
  }
  30% {
    transform: scale(1);
  }

  85% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 300% 0;
  }
}