@use "../abstracts/variables" as var;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
p,
ul {
  margin-top: 0;
}

img {
  display: block;
  max-width: 100%;
}
a {
  display: block;
  text-decoration: none;
  color: var.$text-color-primary;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin-bottom: 0;
}
