@use "../abstracts/variables" as var;
@use "../abstracts/mixins" as mix;
@use "../abstracts/animations" as ani;

.main-content {
  @extend %wrap;
  @extend %section;
  @include mix.tablet {
  }

  h2 {
    text-align: center;
    color: var.$text-color-base;
    font-size: var.$font-size-l * 2;
    margin-bottom: 30px;
  }
}
.content-cards {
  @extend %d-flex;
  flex-wrap: wrap;
  margin-right: -(calc(var.$gutter-base/2));
  margin-left: -(calc(var.$gutter-base/2));
}
.card {
  flex-basis: 33.33%;
  padding: calc(var.$gutter-base/2);
  @extend %default-transition;
  a {
    height: 100%;
  }
  @include mix.tablet {
    flex-basis: 50%;
  }
  @include mix.mobile-l {
    flex-basis: 100%;
  }
  .card-inner {
    text-align: left;
    border-radius: 10px;
    overflow: hidden;
    background-color: var.$text-color-primary;
    box-shadow: 3px 3px 8px 3px rgba(#000000, 0.5);
    transition: all 0.3s ease;
    @extend %h-100;
    @extend %d-flex;
    @extend %flex-direction-column;
    &:hover {
      box-shadow: 1px 1px 10px 2px rgba(#000000, 0.5);
    }
  }
  .card-body {
    padding: calc(var.$gutter-base/3) * 2;
    flex: 1 1 auto;
    @extend %d-flex;
    @extend %flex-direction-column;
    @extend %justify-s-b;
    span {
      width: fit-content;
      padding: calc(var.$gutter-base/3) calc(var.$gutter-base/3) * 2;
      margin-bottom: calc(var.$gutter-base/2);
      display: block !important;
      font-weight: var.$font-weight-bold;
    }
    h3 {
      font-size: var.$font-size-xl;
      @include mix.laptop-m {
        font-size: var.$font-size-l * 1.15;
      }
    }
    p {
      font-size: var.$font-size-l;
      @include mix.laptop-m {
        font-size: var.$font-size-m;
      }
    }
    small {
      font-weight: var.$font-weight-bold;
      margin-bottom: var.$gutter-base;
    }
  }
  .card-link {
    text-align: right;
    padding-top: calc(var.$gutter-base/3) * 2;
  }
  &:hover {
    transform: scale(1.04) !important;
    :before {
      content: "";
      @extend %position-abs;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 10px;
      background: linear-gradient(225deg, transparent, transparent, transparent, transparent, rgb(255, 43, 43), transparent, transparent, transparent, transparent);
      filter: blur(4px);
      background-size: 300%;
      z-index: -1;
      width: calc(100% - 30px);
      height: calc(100% - 30px);
      @extend %default-transition;
      animation: glowing 3s linear infinite;
    }
  }
}
.show-card {
  opacity: 0;
  display: block;
}
.card-fadein {
  @extend %default-transition;
  transform: translateX(0) !important;
  opacity: 1 !important;
}
.card-fadeout {
  @extend %default-transition;
  opacity: 0;
}
.hide-card {
  display: none;
  opacity: 0;
}
